body {
    background-image: url("../images/vintage-old-film.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 32px;
    font-family: 'Permanent Marker', cursive;
}
h2 {
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
}

p,
h3 {
    size: 18px;
    font-family: 'Special Elite', cursive;
}


.jumbotron {
    padding: 0px 40px 10px 10px;
    border: 6px solid yellow;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}

#game-title {
    float: left;
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
}

button {
    max-width: 100%;
    height: auto;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
    /* padding: 20px 10px 10px 10px; */
}

.answer-button {
    cursor: pointer;
    font-size: 16px;
    border-style: none;
    background: none;
    border-radius: 25px;
}

.answer-button:hover {
    background: blue;
}

#clock-panel {
    margin: 0px;
    background: none;
    padding: 0px;
    width: auto;
    height: auto;
    text-align: center;
    size: 36px;
    color: red;
}

#game-panel {
    border-radius: 25px;
    margin: 5px 5px 10px 5px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    background-color: yellow;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}
