body {
    background-image: url("../images/vintage-old-film.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
}

p, h3 {
    size: 30px;
    font-family: 'Special Elite', cursive;
}

.buttonclass {
    margin: 5px;
    cursor: pointer;
}

.buttonclass:hover {
    background: white;
}

.jumbotron {
    padding: 0px 40px 10px 10px;
    border: 6px solid yellow;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}
#game-title {
    float: left;
}

#fun-fact {
    float: right;
    line-height: 35px;
    margin-top: 20px;
}

button {
    max-width: 100%;
    height: auto;
    font-family: 'Special Elite', cursive;
    font-size: 28px;
    padding: 20px 10px 10px 10px;

}

#clock-panel {
    margin: 0px;
    background: none;
    padding: 0px;
    width: auto;
    height: auto;
    text-align: center;
    size: 36px;
    color: red;
}

#message-panel {
    margin: 10px 5px 15px 5px;
    border-radius: 25px;
    background: yellow;
    padding: 0px 10px 10px 10px;
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}

.hide {
    display: none;
}

.show {
    display: inline;
}

#game-panel {
    border-radius: 25px;
    margin: 10px 5px 10px 5px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 28px;
    background-color: yellow;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}

footer {
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}

